.navlist{
	margin-top: 10em;
	margin-bottom: 7em;
	margin-left: 3em;
}
.fit{
	max-width: 99%;
	max-height: 99%;
}
body{
	margin-top: 3%;
	letter-spacing: 3px;
	font-size: 0.6em;
}
.row{
	margin: 0px;
	padding: 0px;
}
a{
	color: black;
}
a:hover{
	color: black;
	text-decoration: none;
}
.text-center{
	text-align: center;
}
.centeredtext{
	margin-top: 40%;
}
.centeredtext a{
	letter-spacing: 0;
	font-size: 4em;
	font-weight: 800;
}
#index-top{
	margin-bottom: 500px;
}
#index-bottom{
	top: 85%;
	letter-spacing: 3px;
	font-size: 0.6em;
}
.graphicdeisgn-nav a{
	font-size: 1.3em;
	position: fixed;
}
#index-top{
	font-size: 0.6em;
}
.topright{
	position: absolute;
	left: 85%;
}
#top-text{

}
.underline i{
	color: blue;
}
.col-2{
	z-index: 1;
}
.col-10{
	padding-right: 0px;
	padding-left: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.topright-text{
	top: 10%;
	position: fixed;
	left: 75%;
	z-index: 1;
	margin-right: 5%;
}
.topright-heading{
	font-weight: 500;
	font-size: 1.5em;
	background-color: yellow;
}
.topright-description{
	line-height: 1.3em;

}

.bot-left-text{
	padding-top: 40px;
	margin-left: 1.3%;
	text-align: left;
	margin-bottom: 4%;
}
#bot-left-text-pad{
	padding-top: 15px;
}
.bot-left-heading{
	font-weight: 500;
	font-size: 12px;
}
.bot-left-description{
	font-size: 9pt;
	text-transform: none;
}
.title{
	line-height: 2.0em;
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}